In [5]:
import pandas as pd
import numpy as np

In [7]:

df=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep="|")
#Assign it to a variable called users and use the 'user_id' as index
users=df.set_index("user_id")
#See the first 10 and last 10 entries
users.head(10)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [8]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [9]:
#What is the number of observations in the dataset?
users.shape

(943, 4)

In [11]:
users.columns.nunique()

4

In [13]:
#Print the name of all the columns
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [14]:
#How is the dataset indexed?
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [15]:
#What is the data type of each column?
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [16]:
#Print only the occupation column
users["occupation"]

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [17]:
#How many different occupations are in this dataset?
users["occupation"].nunique()

21

In [18]:
#What is the most frequent occupation?
users["occupation"].aggregate("mode")

0    student
Name: occupation, dtype: object

In [19]:
#DataFrame Info.
users.info

<bound method DataFrame.info of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>

In [20]:
#Describe all the columns
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [21]:
users["occupation"].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [22]:
users["gender"].describe()

count     943
unique      2
top         M
freq      670
Name: gender, dtype: object

In [23]:
#Summarize only the occupation column
users["occupation"].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [24]:
#What is the mean age of users?
users["age"].aggregate("mean")

34.05196182396607

In [25]:
#What is the age with least occurrence?
users["age"].aggregate("min")

7